<div id="panel_create" *ngIf="modoConsulta">
  <br>
  <div class="container">
    <h1>Registrar Estudiante</h1>
    <br><br>
    <div class="mb-3 row">
      <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName"  [(ngModel)]="estudianteNombre" placeholder="Nombre">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputEdad" class="col-sm-2 col-form-label">Edad</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEdad" [(ngModel)]="estudianteEdad" placeholder="Edad">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputDireccion" class="col-sm-2 col-form-label">Direccion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDireccion" [(ngModel)]="estudianteDireccion" placeholder="Direccion">
      </div>
    </div>
    <div class="col-sm-10">
      <button class="btn btn-primary" (click)="createRecord()"  type="submit">Grabar</button>
    </div>
  
  </div>
  <br> <br><br>
</div>

<div  id ="panel_result" *ngIf="modoConsulta">
  <div class="container" *ngIf="estudiante.length > 0">
    <h1>Estudiantes Registrados:</h1>
    <br><br>
    <table border="1" class="table table-striped" >
      <thead  class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Direccion</th>
          <th scope="col">Edad</th>
          <th scope="col">Borrar</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of estudiante" >
          <td>{{item.id}}</td>
          <td>{{item.data.nombre}} </td>
          <td>{{item.data.direccion}}</td>
          <td>{{item.data.edad}}</td>
          <td><a href="#" (click)="removeRecord(item.id)"  class="btn btn-warning" tabindex="-1" role="button" >Borrar</a></td>
          <td><a href="#" (click)="viewRecord(item.id,item.data)"  class="btn btn-info" tabindex="-1" role="button">Ver/Editar</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div id="panel_update" *ngIf="modoUpdate">

  <br>
  <div class="container">
    <h1>Editar Estudiante</h1>
    <br><br>
    <div class="alert red alert-dismissible fade show" role="alert"></div>
    <div class="mb-3 row">
      <label for="inputId" class="col-sm-2 col-form-label">Id</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputId"  [(ngModel)]="estudianteId" disabled readonly>
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName"  [(ngModel)]="estudianteNombre" placeholder="Nombre">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputEdad" class="col-sm-2 col-form-label">Edad</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEdad" [(ngModel)]="estudianteEdad" placeholder="Edad">
      </div>
    </div>
    <div class="mb-3 row">
      <label for="inputDireccion" class="col-sm-2 col-form-label">Direccion</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputDireccion" [(ngModel)]="estudianteDireccion" placeholder="Direccion">
      </div>
    </div>

    <div class="d-grid gap-2 d-md-block">
      <button class="btn btn-success  me-md-2" (click)="editRecord()" type="button">Editar</button>
      <button class="btn btn-secondary"   (click)="cancelarModal()" type="button">{{cancelar}}</button>
    </div>
  
  
  </div>
  <br>
</div>
  